
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8vw;
}

.header__img {
    height: 10vw;
    padding: 10px 0px 0px 20px;
}

.header__nav {
    padding-right: 2vw;
}

.fas{
    padding-top: 4.5vw;
    background-color: white;
    font-size: 4.5vw;
    color: gray;
}

.header__button {
    background-color: white;
    border: none;
    padding-right: 4.5vw;
}

