.main__container {
    display: flex;
    flex-direction: column;
    margin: 5vw  15vw 20vw 15vw;

}

.main__img {
    width: 100%;
}

.box__title {
    font-family: 'Montserrat';
    font-size: 7vw;
    color: var(--vermelho);
    font-weight: 700;
    text-transform: uppercase;

    padding: 10vw 0px 4vw 0px;
}

.box__star {
    padding-top: 2.5vw;
}

.main__box  {
    width: 100%;
}

.box__div {
    margin-bottom: 5vw;
}

.box__subtitle {
    font-weight: 700;
    font-size: 3.5vw;
}

.box__text {
    color: #707070;
    font-size: 3.5vw;
}

.box__purchase {
    display: flex;
}

.box__itemPrice {
    font-size: 7vw;
    font-weight: bold;
    margin-right: 2vw;
    padding-top: 2vw;
}

.box__button {
    background-color: var(--vermelho);
    color: white;
    font-size: 3vw;
    text-transform: uppercase;
    
    border: none;
    height: 10vw;
    width: 35vw;
}

@media screen and (min-width: 992px) {
    .main__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        width: 100vw;
    
        margin: 0px;
    }

    .main__img {  
        width: 500px;
    }

    .main__box  {
        width: 500px;
    }

    .box__title {
        font-size: 3rem;    
        padding: 7rem 0rem 3rem 0px;
    }
    
    .box__star {
        padding-top: 1.5rem;
    }
    
    .box__div {
        margin-bottom: 1.5rem;
    }
    
    .box__subtitle {
        font-weight: 700;
        font-size: 1.25rem;
    }
    
    .box__text {
        color: #707070;
        font-size: 1.25rem;
    }
    
    .box__purchase {
        display: flex;
    }
    
    .box__itemPrice {
        font-size: 2.25rem;
        font-weight: bold;
        margin-right: 5rem;
        padding-top: 1rem;
    }
    
    .box__button {
        margin-top: 0.6rem;
        background-color: var(--vermelho);
        color: white;
        font-size: 1rem;
        text-transform: uppercase;
        
    
        border: none;
        height: 3rem;
        width: 12rem;
    }
}