:root {
    --vermelho: #ca3b3a;
    --montserrat: 'Montserrat', sans-serif;
}

body {
    font-family: var(--montserrat);
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}